<!-- 게시판 메인 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
        .post-link {
            text-decoration: none; /* 기본 링크 스타일 무시 */
            color: black;
        }
        .post-link:hover {
            text-decoration: underline;
        }
        .button-container {
            display: flex;
            justify-content: flex-end;
        }

        .paging-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .paging-container a {
            margin: 0 5px;
        }
    </style>
</head>
<body>
<h1>게시판</h1>
<div style="position: absolute; top: 10px; right: 10px;">
    <% if (userRealName) { %>
        <p><%= userRealName %>님 환영합니다</p>
    <% } else { %>
        <a href="/login" class="button">로그인</a>
    <% } %>
</div>
<!-- 게시글 목록 표시 -->
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < posts.length; i++) { %>
        <tr>
            <% if (userName) {%>
                <td><a href="/detailPost/<%= posts[i][0] %>?user_id=<%= userId %>&username=<%= userName %>&user_realname=<%= userRealName %>" class="post-link" ><%= posts[i][1] %> [<%= posts[i][5] %>]</a></td>
            <%} else{%>
                <td><a href="/detailPost/<%= posts[i][0] %>" class="post-link" data-post-id="<%= posts[i][0] %>"><%= posts[i][1] %> [<%= posts[i][5] %>]</a></td>
            <%}%>
            <td><%= posts[i][2] %></td>
            <td><%= posts[i][3] %></td>
            <td><%= posts[i][4] %></td>
        </tr>
    <% } %>
    </tbody>
</table>

<script>
    console.log(<%= startPage %>);
</script>

<!-- 글쓰기 버튼 -->
<div class="button-container">
    <% if (userRealName) { %>
        <a href="/writePost" class="button">글쓰기</a>
    <% } %>
</div>

<!-- 페이징 -->
<div class="paging-container">
    <% if (currentPage > 1) { %>
        <a href="/boardMain/?page=<%= currentPage - 1 %>">이전</a>
    <% } %>

    <% for (let i = startPage; i <= endPage; i++) { %>
        <% if (i === currentPage) { %>
            <span class="current-page"><%= i %></span>
        <% } else { %>
            <a href="/boardMain/?page=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>

    <% if ( (totalPages - currentPage +1) > maxPageNumber ) { %>
        <a href="/boardMain/?page=<%= currentPage + 1 %>">다음</a>
    <% } %>
</div>
</body>
</html>
